.logo{
    display:block;
    width: 40%;
    font-size: 1.3em;
    margin-left: 2%;
    
}
.nav{
    display:block;
    width: 60%;
    margin-left: 40%;
    
}
header{
    width:100%;
    background-color: slategray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    position: fixed;
    top:0;
    left:0;
   
}
.nav a{
    text-decoration:none;
    color:black;
    margin-right: 3%;
  
}